@import '../../styles/variables.sass'

.footer-container
    width: 100vw
    border-top: 1px solid $border-primary
    background-color: $bg-secondary
    color: $text-secondary
    text-align: center
    padding: 1rem 0
    margin-top: 2rem
