<div class="show-mobile">
  <div>
    <button>
      <img src="" alt="" />
    </button>
    <a href="">
      <img src="" alt="" />
    </a>
    <a href="">
      <img src="" alt="" />
    </a>
  </div>
</div>
<div class="hide-mobile">
  <nav>
    <a href="logo">
      <img src="" alt="" />
    </a>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <div class="info">
    <div class="accout">
      <div>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>
