<section class="show-mobile">
  <div>
    <button>
      Menu
      <img src="" alt="" />
    </button>
    <a href="">
      <img src="" alt="" />
    </a>
    <a href="">
      <img src="" alt="" />
    </a>
  </div>
</section>
<section class="hide-mobile">
  <div class="navbar-container">
    <div class="logo-wrapper">
      <a href="logo">
        <img src="../../../assets//svg//Logo.svg" alt="Gaming Bazar Logo" />
      </a>
    </div>
    <nav class="nav-container">
      <div class="search-box">
        <input class="search-game" type="text" />
        <button>Search</button>
      </div>
      <div clase="store-wrapper">
        <ul class="store-links">
          <li>Steam</li>
          <li>Xbox</li>
          <li>PlayStation</li>
          <li>GoG</li>
          <li>EpicGames</li>
        </ul>
      </div>
    </nav>
    <div class="info">
      <div class="accout">
        <div>
          <a href=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
