@import '../../styles/variables.sass'

.product-wrapper
    color: $text-tertiary
    background-color: $bg-secondary
    padding: 10px
    border: 1px solid $border-primary
    border-radius: 0.5rem
    &:hover
        background-color: $bg-elevated
        transform: scale(1.08)
        transition: transform 0.3s ease-in-out

.product-details
    display: flex
    flex-direction: row
    justify-content: space-between
